.idea/
dev/
node_modules/
bower_components/
debug.log/"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env" 
"sendgrid.env"  source ./sendgrid.env
