.footer {
    width: 100%;
    padding-top 10px
    padding-bottom 10px

    background-color #F7F7F7

    &__copyright {
        opacity: 0.69;
        font-family: Gilroy-Regular;
        font-size: 14px;
        color: #313C45;
        text-align: justify;
        line-height: 30px;
    }
}